.header {
	@media screen and (max-width: 47.98em) {
		margin-bottom: 0.625rem;
	}
	margin-bottom: 0.125rem;
	position: fixed;
	z-index: 1;
	width: 100%;
	&__firstLine {
		box-shadow: 0 0 1.56rem 0 rgba(5, 25, 25, 0.08);
		background-color: $grayWhite;
		height: 4.5rem;
		@media screen and (max-width: 75em) {
			position: relative;
			z-index: 7;
		}
	}
	&__container {
		position: relative;
		top: -4.5rem;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__content {
		height: 4.5rem;
		display: flex;
		align-items: center;
		justify-content: space-between;
		@media screen and (max-width: 75em) {
			width: 100%;
			z-index: 8;
		}
	}
	&__social {
		@media screen and (min-width: 75em) {
			display: none;
		}
	}
}

.logo {
	overflow: hidden;
	position: relative;
	&__picture {
		height: 3rem;
		display: flex;
		align-items: center;
		transition: transform 0.3s ease 0s;
	}
	&:hover .logo__picture {
		transform: translateY(-3rem);
	}
	&:hover .logo__buttonUp {
		top: 50%;
	}
	&__buttonUp {
		position: absolute;
		transition: all 0.3s ease 0s;
		transform: translate(-50%, -50%);
		font-family: "Gogh";
		color: $main;
		line-height: 1;
		top: 150%;
		left: 50%;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		&:active {
			color: $dark;
		}
	}
	&.active {
		display: none;
	}
}

.burger {
	@media screen and (min-width: 75em) {
		display: none;
	}
	position: relative;
	width: 3rem;
	height: 3rem;
	display: flex;
	align-items: center;
	justify-content: center;
	&__line {
		position: relative;
		width: 1.25rem;
		height: 0.875rem;
		& span,
		&::before,
		&::after {
			background-color: $grayWhite;
			position: absolute;
			width: 100%;
			left: 0;
			height: 0.125rem;
			border-radius: 0.25rem;
			transition: all 0.3s ease 0s;
		}
		& span {
			top: calc(50% - 0.125rem / 2);
		}
		&::before {
			content: "";
			top: 0;
		}
		&::after {
			content: "";
			bottom: 0;
		}
		&.active span {
			transform: rotate3d(0, 1, 0, 90deg);
		}
		&.active::before {
			transform: rotate(45deg);
			top: 50%;
		}
		&.active::after {
			transform: rotate(-45deg);
			top: 50%;
		}
	}
}

.titleMenu {
	display: none;
	font-family: "Gogh";
	color: $grayBlack;
	font-size: 1.25rem;
	line-height: 1;
	&.active {
		display: block;
	}
}

.navigation {
	@media screen and (max-width: 75em) {
		position: absolute;
		top: -100vh;
		left: 0;
		background-color: $grayWhite;
		height: 100vh;
		width: 100vw;
		padding: 1.25rem 1rem;
		transition: top 0.3s ease 0s;
	}
	&__list {
		display: flex;
		height: 100%;
		gap: 0.75rem;
		font-weight: 700;
		line-height: 1.5;
		color: $grayDark;
		@media screen and (max-width: 75em) {
			flex-direction: column;
			height: auto;
			margin-bottom: 40px;
		}
	}
	&__item {
		display: flex;
		align-items: center;
		height: 3rem;
		padding: 0 1.25rem;
		cursor: pointer;
		transition: color 0.3s ease 0s;
		&:hover {
			color: $dark;
		}
		&:last-child {
			@extend .button;
			font-size: 0.875rem;
			color: $grayWhite;
			@media screen and (max-width: 75em) {
				width: 100px;
				margin-top: 1.75rem;
			}
			@media screen and (max-width: 25.25rem) {
				width: 100%;
				display: flex;
				justify-content: center;
			}
		}
	}
	&.active {
		top: 4.5rem;
	}
}
