.slider {
	&__content {
		position: relative;
		padding: 7.5rem 0;
		@media screen and (max-width: 48em) {
			padding: 2.5rem 0 5rem 0;
		}
	}
	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 2.5rem;
	}
	&__buttonBox {
		display: flex;
		align-items: center;
		gap: 0.75rem;
		@media screen and (max-width: 48em) {
			display: none;
		}
	}
	&__button {
		background-color: $grayWhite;
		box-shadow: 0 0 1.25rem 0 rgba(13, 64, 64, 0.1);
		transition: background-color 0.3s ease;
		&:hover {
			background-color: $grayLighter;
		}
		&:active {
			background-color: $grayLight;
		}
	}

	&__visibleBody {
		overflow: hidden;
		width: fit-content;
	}
	&__body {
		display: flex;
		transition: transform 0.5s ease;
	}
	&__item {
		position: relative;
		width: 21.25rem;
		height: 30rem;
		border-radius: 0.5rem;
		overflow: hidden;
		transition: background-color 0.3s ease 0s;
		cursor: pointer;
		background-color: $grayBlack;
		&:not(:last-child) {
			margin-right: 1.25rem;
			@media screen and (max-width: 48.05em) {
				margin-right: 1rem;
			}
		}
		@media screen and (max-width: 85.4em) {
			width: 19rem;
			height: 26.25rem;
		}
		@media screen and (max-width: 48.05em) {
			width: 17.5rem;
			height: 25rem;
		}
		&:hover p {
			background-color: $main;
		}
		&:active p {
			background-color: $dark;
		}
	}
	&__picture {
		border: 2px solid $grayLight;
		width: 100%;
		height: 100%;
	}
	&__itemText {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 10%;
		background-color: $grayBlack;
		color: $grayWhite;
		border-radius: 0.5rem;
		font-weight: 700;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: background-color 0.3s ease;
	}
}
.nextBtn {
	transform: rotate(180deg);
}

.modal {
	display: none;
	position: fixed;
	z-index: 20;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.9);
	&__content {
		display: block;
		margin: auto;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 90vw;
		height: 90vh;
		max-width: 100%;
		max-height: 100%;
		object-fit: contain;
		object-position: center;
		overflow: auto;
	}
	&__closeBtn {
		position: absolute;
		top: 15px;
		right: 35px;
		color: #f1f1f1;
		font-size: 40px;
		font-weight: bold;
		transition: 0.3s;
		&:hover,
		&:focus {
			color: #bbb;
			text-decoration: none;
			cursor: pointer;
		}
	}
	&__prev,
	&__next {
		position: absolute;
		top: 50%;
		width: auto;
		margin-top: -50px;
		padding: 16px;
		color: white;
		font-weight: bold;
		font-size: 20px;
		transition: 0.3s;
		user-select: none;
		cursor: pointer;
		background-color: rgba(0, 0, 0, 0.8);
	}
	&__prev {
		left: 0;
	}
	&__next {
		right: 0;
	}
	&__prev:hover,
	&__next:hover {
		background-color: rgba(0, 0, 0, 0.5);
	}
}