$main: #14CCCC;
$dark: #11A6A6;
$light: #17E5E5;

$grayBlack: #030D0D;
$grayDark: #3D4040;
$grayLight: #DAF2F2;
$grayLighter: #E1FAFA;
$grayWhite: #FFFFFF;

$socialStatic: #FFFFFF;
$socialHover: #E1FAFA;
$socialPress: #DAF2F2;

$textBlack: #05051A;
