$main: #14CCCC;
$dark: #11A6A6;
$light: #17E5E5;

$grayBlack: #030D0D;
$grayDark: #3D4040;
$grayLight: #DAF2F2;
$grayLighter: #E1FAFA;
$grayWhite: #FFFFFF;







$border-radius-16: 1.111vw;
$border-radius-20: 1.389vw;
$border-radius-10: 0.756vw;
$border-radius-8: 0.556vw;

$font-size-10: 0.694vw;
$font-size-12: 0.833vw;
$font-size-13: 0.903vw;
$font-size-14: 0.972vw;
$font-size-15: 1.042vw;
$font-size-16: 1.111vw;
$font-size-18: 1.25vw;
$font-size-20: 1.389vw;
$font-size-26: 1.806vw;
$font-size-32: 2.222vw;

$box-shadow-blur-20: 0px 0px 1.389vw 0px rgba(0, 0, 0, 0.05);
$box-shadow-blur-15: 0px 0.278vw 1.042vw 0px rgba(0, 0, 0, 0.05);
$box-shadow-blur-hover: 0px 0px 1.389vw 0px rgba(0, 0, 0, 0.13);
$box-shadow-blur-25: 0px 0px convertPX(25) 0px rgba(0, 0, 0, 0.15);

$grey-medium-border: 1px solid $grey-medium;
