@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400..700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

input,
button,
textarea {
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

@font-face {
  font-family: "Gogh";
  src: local("Gogh"), url("../fonts/Gogh-ExtraBold.otf") format("opentype"), url("../fonts/Gogh-ExtraBold.ttf") format("truetype"), url("../fonts/Gogh-ExtraBold.woff") format("woff"), url("../fonts/Gogh-ExtraBold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4 {
  font-family: "Gogh";
  font-weight: 700;
  line-height: 1;
  color: #05051A;
}

h1 {
  font-size: 3.5rem;
}
@media screen and (max-width: 75em) {
  h1 {
    font-size: 2rem;
  }
}

h2 {
  font-size: 2.5rem;
}
@media screen and (max-width: 75em) {
  h2 {
    font-size: 1.75rem;
  }
}

h3 {
  font-size: 1.75rem;
}
@media screen and (max-width: 75em) {
  h3 {
    font-size: 1.5rem;
  }
}

h4 {
  font-size: 1.25rem;
}

a {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  line-height: 1.5;
}

body {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

[class*=__container] {
  margin: 0 auto;
  padding: 0 16px;
  max-width: 90.75em;
}
@media screen and (max-width: 85.375em) {
  [class*=__container] {
    max-width: 81.75em;
  }
}
.button, .navigation__item:last-child {
  border-radius: 0.25rem;
  background-color: #14CCCC;
  -webkit-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
  cursor: pointer;
  height: 3rem;
  width: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.button:hover, .navigation__item:hover:last-child {
  background-color: #17E5E5;
}
.button:active, .navigation__item:active:last-child {
  background-color: #11A6A6;
}

main {
  margin-top: 4.625rem;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}
.social__item {
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 0 1.25rem 0 rgba(13, 64, 64, 0.1);
          box-shadow: 0 0 1.25rem 0 rgba(13, 64, 64, 0.1);
  border-radius: 0.25rem;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}
.social__item:hover {
  background-color: #E1FAFA;
}
.social__item:active {
  background-color: #DAF2F2;
}
.social__item a {
  background-color: #FFFFFF;
}

.imagesBox {
  border-radius: 0.5rem;
  position: relative;
  overflow: hidden;
  background: url("../img/non-image.png") no-repeat center center;
  background-size: cover;
}
.imagesBox img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.header {
  margin-bottom: 0.125rem;
  position: fixed;
  z-index: 1;
  width: 100%;
}
@media screen and (max-width: 47.98em) {
  .header {
    margin-bottom: 0.625rem;
  }
}
.header__firstLine {
  -webkit-box-shadow: 0 0 1.56rem 0 rgba(5, 25, 25, 0.08);
          box-shadow: 0 0 1.56rem 0 rgba(5, 25, 25, 0.08);
  background-color: #FFFFFF;
  height: 4.5rem;
}
@media screen and (max-width: 75em) {
  .header__firstLine {
    position: relative;
    z-index: 7;
  }
}
.header__container {
  position: relative;
  top: -4.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__content {
  height: 4.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 75em) {
  .header__content {
    width: 100%;
    z-index: 8;
  }
}
@media screen and (min-width: 75em) {
  .header__social {
    display: none;
  }
}

.logo {
  overflow: hidden;
  position: relative;
}
.logo__picture {
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}
.logo:hover .logo__picture {
  -webkit-transform: translateY(-3rem);
      -ms-transform: translateY(-3rem);
          transform: translateY(-3rem);
}
.logo:hover .logo__buttonUp {
  top: 50%;
}
.logo__buttonUp {
  position: absolute;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: "Gogh";
  color: #14CCCC;
  line-height: 1;
  top: 150%;
  left: 50%;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}
.logo__buttonUp:active {
  color: #11A6A6;
}
.logo.active {
  display: none;
}

@media screen and (min-width: 75em) {
  .burger {
    display: none;
  }
}
.burger__line {
  position: relative;
  width: 1.25rem;
  height: 0.875rem;
}
.burger__line span, .burger__line::before, .burger__line::after {
  background-color: #FFFFFF;
  position: absolute;
  width: 100%;
  left: 0;
  height: 0.125rem;
  border-radius: 0.25rem;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.burger__line span {
  top: calc(50% - 0.0625rem);
}
.burger__line::before {
  content: "";
  top: 0;
}
.burger__line::after {
  content: "";
  bottom: 0;
}
.burger__line.active span {
  -webkit-transform: rotate3d(0, 1, 0, 90deg);
          transform: rotate3d(0, 1, 0, 90deg);
}
.burger__line.active::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 50%;
}
.burger__line.active::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 50%;
}

.titleMenu {
  display: none;
  font-family: "Gogh";
  color: #030D0D;
  font-size: 1.25rem;
  line-height: 1;
}
.titleMenu.active {
  display: block;
}

@media screen and (max-width: 75em) {
  .navigation {
    position: absolute;
    top: -100vh;
    left: 0;
    background-color: #FFFFFF;
    height: 100vh;
    width: 100vw;
    padding: 1.25rem 1rem;
    -webkit-transition: top 0.3s ease 0s;
    transition: top 0.3s ease 0s;
  }
}
.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  gap: 0.75rem;
  font-weight: 700;
  line-height: 1.5;
  color: #3D4040;
}
@media screen and (max-width: 75em) {
  .navigation__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    margin-bottom: 40px;
  }
}
.navigation__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3rem;
  padding: 0 1.25rem;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 0.25rem;
}
.navigation__item:hover {
  color: #11A6A6;
}
.navigation__item:active {
  background-color: #E1FAFA;
}
.navigation__item:last-child {
  width: 6.25rem;
  font-size: 0.875rem;
  color: #FFFFFF;
}
@media screen and (max-width: 75em) {
  .navigation__item:last-child {
    width: 100px;
    margin-top: 1.75rem;
  }
}
@media screen and (max-width: 25.25rem) {
  .navigation__item:last-child {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.navigation.active {
  top: 4.5rem;
}

.firstscreen__container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1.25rem;
  padding-top: 2.5rem;
  padding-bottom: 7.5rem;
}
@media screen and (max-width: 75em) {
  .firstscreen__container {
    gap: 1.125rem;
    padding-top: 3.75rem;
    padding-bottom: 5rem;
  }
}
@media screen and (max-width: 47.98em) {
  .firstscreen__container {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 2.5rem;
  }
}
.firstscreen__banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 75em) {
  .firstscreen__banner {
    gap: 1.25rem;
  }
}
.firstscreen__title span {
  color: #14CCCC;
}
.firstscreen__text {
  font-size: 1.25rem;
  line-height: 1.5;
  max-width: 460px;
}
@media screen and (max-width: 75em) {
  .firstscreen__text {
    font-size: 1rem;
  }
}
@media screen and (max-width: 47.98em) {
  .firstscreen__text {
    max-width: 100%;
  }
}
.firstscreen__scrollBox {
  background-color: #030D0D;
  border-radius: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.25rem;
  padding: 2.5rem;
  max-width: 31.5rem;
  height: 8rem;
}
@media screen and (max-width: 75em) {
  .firstscreen__scrollBox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    padding: 1.25rem;
    margin-right: 1.125rem;
  }
}
@media screen and (max-width: 47.98em) {
  .firstscreen__scrollBox {
    max-width: 100%;
    margin-right: 0;
  }
}
.firstscreen__subtitle {
  color: #FFFFFF;
}
.firstscreen__subtitle span {
  color: #14CCCC;
}
.firstscreen__link {
  color: #FFFFFF;
  font-size: 0.875rem;
  width: 6.25rem;
  padding: 0.8rem;
}
@media screen and (max-width: 75em) {
  .firstscreen__link {
    width: 100%;
  }
}
.firstscreen__images {
  grid-row: span 2;
}

.images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.25rem;
}
.images__img {
  height: 0;
  padding-bottom: 100%;
}
.images__img:nth-child(2n+1) {
  margin-top: -50%;
}
.images__img:nth-child(1) {
  margin-top: 0;
}
.images__img:nth-child(2) {
  margin-top: 50%;
}

.about {
  background-color: #E1FAFA;
}
.about__content {
  position: relative;
  padding: 5rem 0;
}
@media screen and (min-width: 75.01em) {
  .about__content {
    padding: 7.5rem 0;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1.25rem;
  }
}
.about__info {
  margin-bottom: 3.75rem;
}
@media screen and (min-width: 48em) and (max-width: 75em) {
  .about__info {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
  }
}
.about__title {
  color: #1A1605;
  margin-bottom: 2.5rem;
}
@media screen and (max-width: 75em) {
  .about__title {
    margin-bottom: 1.25rem;
  }
}
.about__text {
  margin-bottom: 5rem;
  line-height: 1.5;
  max-width: 36.25rem;
}
@media screen and (min-width: 48.05em) {
  .about__text {
    font-size: 1.25rem;
  }
}
@media screen and (max-width: 75em) {
  .about__text {
    margin-bottom: 2.5rem;
  }
}
.about__numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25rem;
}
.about__number {
  background-color: #030D0D;
  border-radius: 0.5rem;
  padding: 2.5rem;
  max-width: 32.5rem;
}
@media screen and (max-width: 48.05em) {
  .about__number {
    max-width: 100%;
  }
}
@media screen and (max-width: 75em) {
  .about__number {
    padding: 1.25rem;
  }
}
.about__number h1 {
  color: #17E5E5;
  margin-bottom: 1.25rem;
}
.about__number p {
  color: #FFFFFF;
  line-height: 1.5;
}
.about__photos {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}
@media screen and (max-width: 75em) {
  .about__photos {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}
@media screen and (min-width: 75.01em) {
  .about__photos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2.5rem;
  }
}
.about__photo {
  height: 25rem;
  width: 100%;
}
@media screen and (max-width: 85.375em) {
  .about__photo {
    height: 20rem;
  }
}
@media screen and (max-width: 75em) {
  .about__photo {
    height: 16rem;
    width: 21.5rem;
  }
}
@media screen and (max-width: 48em) {
  .about__photo {
    height: 12.5rem;
    width: 17.5rem;
  }
}

.slider__content {
  position: relative;
  padding: 7.5rem 0;
}
@media screen and (max-width: 48em) {
  .slider__content {
    padding: 2.5rem 0 5rem 0;
  }
}
.slider__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2.5rem;
}
.slider__buttonBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.75rem;
}
@media screen and (max-width: 48em) {
  .slider__buttonBox {
    display: none;
  }
}
.slider__button {
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 0 1.25rem 0 rgba(13, 64, 64, 0.1);
          box-shadow: 0 0 1.25rem 0 rgba(13, 64, 64, 0.1);
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
.slider__button:hover {
  background-color: #E1FAFA;
}
.slider__button:active {
  background-color: #DAF2F2;
}
.slider__visibleBody {
  overflow: hidden;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.slider__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}
.slider__item {
  position: relative;
  width: 21.25rem;
  height: 30rem;
  border-radius: 0.5rem;
  overflow: hidden;
  -webkit-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
  cursor: pointer;
  background-color: #030D0D;
}
.slider__item:not(:last-child) {
  margin-right: 1.25rem;
}
@media screen and (max-width: 48.05em) {
  .slider__item:not(:last-child) {
    margin-right: 1rem;
  }
}
@media screen and (max-width: 85.4em) {
  .slider__item {
    width: 19rem;
    height: 26.25rem;
  }
}
@media screen and (max-width: 48.05em) {
  .slider__item {
    width: 17.5rem;
    height: 25rem;
  }
}
.slider__item:hover p {
  background-color: #14CCCC;
}
.slider__item:active p {
  background-color: #11A6A6;
}
.slider__picture {
  border: 2px solid #DAF2F2;
  width: 100%;
  height: 100%;
}
.slider__itemText {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10%;
  background-color: #030D0D;
  color: #FFFFFF;
  border-radius: 0.5rem;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.nextBtn {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.modal {
  display: none;
  position: fixed;
  z-index: 20;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.9);
}
.modal__content {
  display: block;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 90vw;
  height: 90vh;
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  overflow: auto;
}
.modal__closeBtn {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.modal__closeBtn:hover, .modal__closeBtn:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
.modal__prev, .modal__next {
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -50px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.8);
}
.modal__prev {
  left: 0;
}
.modal__next {
  right: 0;
}
.modal__prev:hover, .modal__next:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.presentation {
  background-color: #E1FAFA;
}
.presentation .tabs {
  padding: 7.5rem 0;
}
@media screen and (max-width: 56em) {
  .presentation .tabs {
    padding: 5rem 0;
  }
}
@media screen and (min-width: 47.98em) {
  .presentation .tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1rem;
  }
}
@media screen and (min-width: 56em) {
  .presentation .tabs {
    gap: 2.5rem;
  }
}
.presentation .tabs__body {
  overflow: hidden;
}
@media screen and (min-width: 47.98em) {
  .presentation .tabs__body {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 342px;
            flex: 1 1 342px;
  }
}
@media screen and (min-width: 56em) {
  .presentation .tabs__body {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 844px;
            flex: 0 1 844px;
  }
}
@media screen and (min-width: 85.4em) {
  .presentation .tabs__body {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 940px;
            flex: 0 1 940px;
  }
}
@media screen and (max-width: 47.98em) {
  .presentation .tabs__body {
    margin-bottom: 2.5rem;
  }
}
.presentation .tabs__block {
  display: none;
}
.presentation .tabs__block.active {
  display: block;
}
.presentation .tabs__block img {
  opacity: 0;
  border-radius: 0.5rem;
  -webkit-animation: fadeIn 0.3s ease forwards;
          animation: fadeIn 0.3s ease forwards;
  width: 100%;
  height: 100%;
}
.presentation .tabs__block.active img {
  opacity: 1;
}
.presentation .tabs__buttons {
  width: 100%;
}
@media screen and (min-width: 47.98em) {
  .presentation .tabs__buttons {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 378px;
            flex: 0 1 378px;
  }
}
@media screen and (min-width: 56em) {
  .presentation .tabs__buttons {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 392px;
            flex: 0 1 392px;
  }
}
@media screen and (min-width: 85.4em) {
  .presentation .tabs__buttons {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 440px;
            flex: 0 1 440px;
  }
}
.presentation .tabs__btnBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
  background-color: #FFFFFF;
  border-radius: 0.25rem;
  -webkit-box-shadow: 0 0 1.25rem 0 rgba(13, 64, 64, 0.1);
          box-shadow: 0 0 1.25rem 0 rgba(13, 64, 64, 0.1);
  padding: 0.75rem;
  cursor: pointer;
  border: 2px solid #FFFFFF;
  -webkit-transition: border 0.3s ease 0s;
  transition: border 0.3s ease 0s;
  width: 100%;
}
.presentation .tabs__btnBox p {
  font-size: 1.25rem;
  white-space: nowrap;
}
.presentation .tabs__btnBox:not(:last-child) {
  margin-bottom: 1.25rem;
}
@media screen and (max-width: 48em) {
  .presentation .tabs__btnBox:not(:last-child) {
    margin-bottom: 1rem;
  }
}
.presentation .tabs__btnBox img {
  width: 3rem;
  height: 3rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.25rem;
}
.presentation .tabs__btnBox:hover {
  border: 2px solid #DAF2F2;
}
.presentation .tabs__btnBox.active {
  border: 2px solid #14CCCC;
}

.faq {
  padding: 7.5rem 0;
}
@media screen and (max-width: 48em) {
  .faq {
    padding: 2.5rem 0 5rem 0;
  }
}
.faq__title {
  padding-bottom: 3.75rem;
}
@media screen and (max-width: 48em) {
  .faq__title {
    padding-bottom: 2.5rem;
  }
}
.faq__questionBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.faq__questionBox:hover .faq__question {
  color: #14CCCC;
}
.faq__questionBox:active .faq__question {
  color: #11A6A6;
}
.faq__question {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.5;
  color: #05051A;
  -webkit-transition: color 0.5s ease 0s;
  transition: color 0.5s ease 0s;
}
.faq__item {
  background-color: #E1FAFA;
  border-radius: 0.5rem;
  padding: 0.75rem 0.75rem 0.75rem 1.5rem;
}
.faq__item:not(:last-child) {
  margin-bottom: 1.25rem;
}
@media screen and (max-width: 48em) {
  .faq__item:not(:last-child) {
    margin-bottom: 1rem;
  }
}
.faq__button {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-left: 1rem;
}
.faq__button span {
  background-image: url("../img/plus.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 45%;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}
.faq__item.active .faq__button span {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.faq__answer {
  -webkit-transition: max-height 0.5s ease;
  transition: max-height 0.5s ease;
  overflow: hidden;
  max-height: 0;
}
.faq__item.active .faq__answer {
  max-height: 300px;
}

.footer {
  background-color: #030D0D;
  padding: 10rem 0;
}
@media screen and (max-width: 75em) {
  .footer {
    padding: 5rem 0;
    margin: 0 -1rem;
  }
}
.footer__content {
  padding: 3.75rem;
  color: #FFFFFF;
  background-image: url("../img/footerBG.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (min-width: 75.05em) {
  .footer__content {
    display: grid;
    grid-template-columns: 1fr 708px;
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;
            column-gap: 40px;
    border-radius: 0.5rem;
  }
}
@media screen and (min-width: 85.4em) {
  .footer__content {
    grid-template-columns: 1fr 780px;
    -webkit-column-gap: 48px;
       -moz-column-gap: 48px;
            column-gap: 48px;
  }
}
@media screen and (max-width: 75em) {
  .footer__content {
    padding: 1rem;
  }
}
@media screen and (max-width: 48em) {
  .footer__content {
    background-image: url("../img/footerBGMobile.svg");
  }
}
.footer__title {
  color: #FFFFFF;
  margin-bottom: 1.5rem;
}
@media screen and (max-width: 56em) {
  .footer__title {
    margin-bottom: 1.25rem;
  }
}
.footer__subtitle {
  color: #FFFFFF;
  margin-bottom: 2rem;
}
.footer__titleBox {
  margin-bottom: 2.5rem;
}
@media screen and (min-width: 75.05em) {
  .footer__titleBox {
    margin-bottom: 4rem;
  }
}
@media screen and (max-width: 56em) {
  .footer__titleBox p {
    max-width: 21.375rem;
  }
}
@media screen and (max-width: 47.95em) {
  .footer__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.form {
  padding: 2.5rem;
  background-color: #FFFFFF;
  border-radius: 0.5rem;
}
@media screen and (min-width: 48em) {
  .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
    grid-row: 1/3;
    grid-column: 2/3;
  }
}
@media screen and (max-width: 75em) {
  .form {
    padding: 1.25rem;
    margin-bottom: 2rem;
  }
}
.form input {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 calc((100% - 1.25rem) / 2);
          flex: 0 1 calc((100% - 1.25rem) / 2);
  border: 2px solid #DAF2F2;
  border-radius: 0.25rem;
  padding: 0.75rem 1rem;
  color: #3D4040;
  line-height: 1.5;
  margin-bottom: 1.25rem;
}
.form input:focus {
  border-color: #14CCCC;
}
.form input:hover {
  border-color: #17E5E5;
}
.form input:active {
  border-color: #DAF2F2;
}
.form input:focus-visible {
  border-color: #14CCCC;
}
.form input:disabled {
  background-color: #DAF2F2;
}
@media screen and (max-width: 56em) {
  .form input {
    width: 100%;
  }
}
.form__buttonBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 48em) {
  .form__buttonBox {
    gap: 1rem;
  }
}
@media screen and (max-width: 47.98em) {
  .form__buttonBox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.form__buttonBox button {
  width: 10.25rem;
}
@media screen and (max-width: 47.98em) {
  .form__buttonBox button {
    width: 100%;
  }
}
.form__checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.form__checkbox + label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  color: #3D4040;
}
.form__checkbox + label::before {
  content: "";
  display: inline-block;
  width: 1.25rem;
  height: 1.25rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  margin-right: 0.5rem;
  background-image: url("../img/checkboxS.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.form__checkbox:not(:disabled):not(:checked) + label:hover::before {
  background-image: url("../img/checkboxH.svg");
}
.form__checkbox:checked + label::before {
  background-image: url("../img/checkboxAS.svg");
}
.form__checkbox:checked + label:hover::before {
  background-image: url("../img/checkboxAH.svg");
}