@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400..700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

input,
button,
textarea {
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

@font-face {
  font-family: "Gogh";
  src: local("Gogh"), url("../fonts/Gogh-ExtraBold.otf") format("opentype"), url("../fonts/Gogh-ExtraBold.ttf") format("truetype"), url("../fonts/Gogh-ExtraBold.woff") format("woff"), url("../fonts/Gogh-ExtraBold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
h1,
h2,
h3,
h4 {
  font-family: "Gogh";
  font-weight: 700;
  line-height: 1;
  color: #05051A;
}

h1 {
  font-size: 3.5rem;
}
@media screen and (max-width: 75em) {
  h1 {
    font-size: 2rem;
  }
}

h2 {
  font-size: 2.5rem;
}
@media screen and (max-width: 75em) {
  h2 {
    font-size: 1.75rem;
  }
}

h3 {
  font-size: 1.75rem;
}
@media screen and (max-width: 75em) {
  h3 {
    font-size: 1.5rem;
  }
}

h4 {
  font-size: 1.25rem;
}

a {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  line-height: 1.5;
}

body {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

[class*=__container] {
  margin: 0 auto;
  padding: 0 16px;
  max-width: 90.75em;
}
@media screen and (max-width: 85.375em) {
  [class*=__container] {
    max-width: 81.75em;
  }
}
.button, .navigation__item:last-child {
  border-radius: 0.25rem;
  background-color: #14CCCC;
  -webkit-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
  cursor: pointer;
}
.button:hover, .navigation__item:hover:last-child {
  background-color: #17E5E5;
}
.button:active, .navigation__item:active:last-child {
  background-color: #11A6A6;
}

main {
  margin-top: 4.625rem;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}
@media screen and (min-width: 75em) {
  .social {
    display: none;
  }
}
.social__item {
  height: 3rem;
  width: 3rem;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 0 1.25rem 0 rgba(13, 64, 64, 0.1);
          box-shadow: 0 0 1.25rem 0 rgba(13, 64, 64, 0.1);
  border-radius: 0.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}
.social__item:hover {
  background-color: #E1FAFA;
}
.social__item:active {
  background-color: #DAF2F2;
}

.imagesBox {
  border-radius: 0.5rem;
  position: relative;
  overflow: hidden;
  background: url("../img/non-image.png") no-repeat center center;
  background-size: cover;
}
.imagesBox img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.header {
  margin-bottom: 0.125rem;
  position: fixed;
  z-index: 1;
  width: 100%;
}
@media screen and (max-width: 47.98em) {
  .header {
    margin-bottom: 0.625rem;
  }
}
.header__firstLine {
  -webkit-box-shadow: 0 0 1.56rem 0 rgba(5, 25, 25, 0.08);
          box-shadow: 0 0 1.56rem 0 rgba(5, 25, 25, 0.08);
  background-color: #FFFFFF;
  height: 4.5rem;
}
@media screen and (max-width: 75em) {
  .header__firstLine {
    position: relative;
    z-index: 7;
  }
}
.header__container {
  position: relative;
  top: -4.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__content {
  height: 4.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 75em) {
  .header__content {
    width: 100%;
    z-index: 8;
  }
}

.logo {
  overflow: hidden;
  position: relative;
}
.logo__picture {
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}
.logo:hover .logo__picture {
  -webkit-transform: translateY(-3rem);
      -ms-transform: translateY(-3rem);
          transform: translateY(-3rem);
}
.logo:hover .logo__buttonUp {
  top: 50%;
}
.logo__buttonUp {
  position: absolute;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: "Gogh";
  color: #14CCCC;
  line-height: 1;
  top: 150%;
  left: 50%;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}
.logo__buttonUp:active {
  color: #11A6A6;
}
.logo.active {
  display: none;
}

.burger {
  position: relative;
  width: 3rem;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 75em) {
  .burger {
    display: none;
  }
}
.burger__line {
  position: relative;
  width: 1.25rem;
  height: 0.875rem;
}
.burger__line span, .burger__line::before, .burger__line::after {
  background-color: #FFFFFF;
  position: absolute;
  width: 100%;
  left: 0;
  height: 0.125rem;
  border-radius: 0.25rem;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.burger__line span {
  top: calc(50% - 0.0625rem);
}
.burger__line::before {
  content: "";
  top: 0;
}
.burger__line::after {
  content: "";
  bottom: 0;
}
.burger__line.active span {
  -webkit-transform: rotate3d(0, 1, 0, 90deg);
          transform: rotate3d(0, 1, 0, 90deg);
}
.burger__line.active::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 50%;
}
.burger__line.active::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 50%;
}

.titleMenu {
  display: none;
  font-family: "Gogh";
  color: #030D0D;
  font-size: 1.25rem;
  line-height: 1;
}
.titleMenu.active {
  display: block;
}

@media screen and (max-width: 75em) {
  .navigation {
    position: absolute;
    top: -100vh;
    left: 0;
    background-color: #FFFFFF;
    height: 100vh;
    width: 100vw;
    padding: 1.25rem 1rem;
    -webkit-transition: top 0.3s ease 0s;
    transition: top 0.3s ease 0s;
  }
}
.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  gap: 0.75rem;
  font-weight: 700;
  line-height: 1.5;
  color: #3D4040;
}
@media screen and (max-width: 75em) {
  .navigation__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    margin-bottom: 40px;
  }
}
.navigation__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3rem;
  padding: 0 1.25rem;
  cursor: pointer;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}
.navigation__item:hover {
  color: #11A6A6;
}
.navigation__item:last-child {
  font-size: 0.875rem;
  color: #FFFFFF;
}
@media screen and (max-width: 75em) {
  .navigation__item:last-child {
    width: 100px;
    margin-top: 1.75rem;
  }
}
@media screen and (max-width: 25.25rem) {
  .navigation__item:last-child {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.navigation.active {
  top: 4.5rem;
}

.firstscreen__container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1.25rem;
  padding-top: 2.5rem;
  padding-bottom: 7.5rem;
}
@media screen and (max-width: 75em) {
  .firstscreen__container {
    gap: 1.125rem;
    padding-top: 3.75rem;
    padding-bottom: 5rem;
  }
}
@media screen and (max-width: 47.98em) {
  .firstscreen__container {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 2.5rem;
  }
}
.firstscreen__banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 75em) {
  .firstscreen__banner {
    gap: 1.25rem;
  }
}
.firstscreen__title span {
  color: #14CCCC;
}
.firstscreen__text {
  font-size: 1.25rem;
  line-height: 1.5;
  max-width: 460px;
}
@media screen and (max-width: 75em) {
  .firstscreen__text {
    font-size: 1rem;
  }
}
@media screen and (max-width: 47.98em) {
  .firstscreen__text {
    max-width: 100%;
  }
}
.firstscreen__scrollBox {
  background-color: #030D0D;
  border-radius: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.25rem;
  padding: 2.5rem;
  max-width: 31.5rem;
  height: 8rem;
}
@media screen and (max-width: 75em) {
  .firstscreen__scrollBox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    padding: 1.25rem;
    margin-right: 1.125rem;
  }
}
@media screen and (max-width: 47.98em) {
  .firstscreen__scrollBox {
    max-width: 100%;
    margin-right: 0;
  }
}
.firstscreen__subtitle {
  color: #FFFFFF;
}
.firstscreen__subtitle span {
  color: #14CCCC;
}
.firstscreen__link {
  color: #FFFFFF;
  font-size: 0.875rem;
  width: 6.25rem;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.8rem;
}
@media screen and (max-width: 75em) {
  .firstscreen__link {
    width: 100%;
  }
}
.firstscreen__images {
  grid-row: span 2;
}

.images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.25rem;
}
.images__img {
  height: 0;
  padding-bottom: 100%;
}
.images__img:nth-child(2n+1) {
  margin-top: -50%;
}
.images__img:nth-child(1) {
  margin-top: 0;
}
.images__img:nth-child(2) {
  margin-top: 50%;
}

.about {
  background-color: #E1FAFA;
}
.about__content {
  position: relative;
  padding: 5rem 0;
}
@media screen and (min-width: 75.01em) {
  .about__content {
    padding: 7.5rem 0;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1.25rem;
  }
}
.about__info {
  margin-bottom: 3.75rem;
}
@media screen and (min-width: 48em) and (max-width: 75em) {
  .about__info {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
  }
}
.about__title {
  color: #1A1605;
  margin-bottom: 2.5rem;
}
@media screen and (max-width: 75em) {
  .about__title {
    margin-bottom: 1.25rem;
  }
}
.about__text {
  margin-bottom: 5rem;
  line-height: 1.5;
  max-width: 36.25rem;
}
@media screen and (min-width: 48.05em) {
  .about__text {
    font-size: 1.25rem;
  }
}
@media screen and (max-width: 75em) {
  .about__text {
    margin-bottom: 2.5rem;
  }
}
.about__numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25rem;
}
.about__number {
  background-color: #030D0D;
  border-radius: 0.5rem;
  padding: 2.5rem;
  max-width: 32.5rem;
}
@media screen and (max-width: 48.05em) {
  .about__number {
    max-width: 100%;
  }
}
@media screen and (max-width: 75em) {
  .about__number {
    padding: 1.25rem;
  }
}
.about__number h1 {
  color: #17E5E5;
  margin-bottom: 1.25rem;
}
.about__number p {
  color: #FFFFFF;
  line-height: 1.5;
}
.about__photos {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}
@media screen and (max-width: 75em) {
  .about__photos {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}
@media screen and (min-width: 75.01em) {
  .about__photos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2.5rem;
  }
}
.about__photo {
  height: 25rem;
  width: 100%;
}
@media screen and (max-width: 85.375em) {
  .about__photo {
    height: 20rem;
  }
}
@media screen and (max-width: 75em) {
  .about__photo {
    height: 16rem;
    width: 21.5rem;
  }
}
@media screen and (max-width: 48em) {
  .about__photo {
    height: 12.5rem;
    width: 17.5rem;
  }
}